#zoom
{
	width: 280px;
}

#game_info
{
	padding:0px 0px 0px 15px;
	width:500px;
	text-align:justify;
}

#game_info p
{
	margin-right:20px;
}

#game_info .specifications
{
	padding:24px 0px;
}

#game_info .specifications .spec
{
	margin:0px 15px 0px 0px;
}

#game_info .specifications .spec .text
{
	padding:6px 3px 0px 6px;
}

#package_games_list
{
	border: 1px solid #929292;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	width: 500px;
}

#product_add_bag
{
	height:55px;
	margin:30px 0px;
}

#product_add_bag .price
{
	padding: 4px 24px 16px 0px;
	font-size:14px;
}

.img_product_time
{
	width:27px;
	height:33px;
	background:url('../../../images/design/icons/common/product_time.png');
}

.img_product_players
{
	width:33px;
	height:40px;
	background:url('../../../images/design/icons/common/product_players.png');
}

.img_product_winners
{
	width:27px;
	height:37px;
	background:url('../../../images/design/icons/common/product_winners.png');
}

.fg_color_pri
{
	color:#80397D;
}

.trajan
{
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub_heading
{
	border-bottom: 1px solid #939393;
	color: #000;
	height: 20px;
	margin-bottom: 10px;
	font-size:15px;
}