{% block category %}
<div id="column_left">
<div id="category_menu">
<div class="block b txtC">{{ categories['name'] }}</div>
	{% set i = 1 %}

    {% for id,category in categories['children'] %}
    	{# if category['displayMenu'] == 0 and category['status'] == 0 #}
        	{# continue #}
        {# endif #}

        {% set categoryURL = category['url'] %}

        {% set selected = false %}
        {% if i == categories['categoriesSize'] %}
            {% set categorySelected = 'class=selected' %}
        {% else %}
            {% set categorySelected = '' %}
        {% endif %}

        {% if category['children']|length > 0 %}
            <a href="" {{ categorySelected }}>{{ category['name'] }}</a>

            {# Determine if we should show child categories #}
            {# set showChildren = false #}
            
            {# Loop through the child categories and see #}
            {# if one of them is the current category, if #}
            {# so we will show them all #}
            {# for child in category['children'] #}
            	{# if validCatId == $child['id'] #}
                	{# $showChildren = true; #}
            

           	{% if true %} {# showChildren #}
                {% for child in category['children'] %}
                    {% if child['displayMenu'] == 0 or child['status'] == 0 %}
                    
                    {% else %}

                        {% set childURL = child['url'] %}
                        {% set subChildSelected = '' %}
                        {% if validCatId == child['id'] %}
                            {% set subChildSelected = 'selected' %}
                    	{% endif %}
                    <a href="{{ path('products/category/' ~ child['name']|lower) }}" class="item_child {{ subChildSelected }}">{{ child['name'] }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <a href="{{ path('products', { 'categoryName' : category['name']|lower }) }}" {{ categorySelected }}>{{ category['name'] }}</a>
        {% endif %}

        {% set i = i + 1 %}
    {% endfor %}

</div>
</div>

{% endblock %}
