{% extends "JonTestBundle::index.twig.html" %}
{% block css %}
	<link href="{{ asset('bundles/jontest/css/drilldown.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
	<div class="clr"></div>
	{% render "JonTestBundle:Category:index" with { } %}
    <div id="zoom" class="fl">
        <a href="{{ product['magicZoom'] }}" title="" id="magic_zoom" class="MagicZoomPlus" rel="disable-expand: true">
            <img id="product_large_thumb" alt="" src="{{ product['magicZoomPreview'] }}" class="thumb" width="280px" height="362" />
        </a>
   		<div class="txtC">Mouse over to Zoom in</div><br/><br/>
    </div>
    <div id="game_info" class="fl">
        <div id="game_title">
            <span class="trajan fg_color_pri b font_14px">PRINT &amp; PLAY!</span><span class="font_11px fg_color_pri"> Start printing as soon as you order!</span>
            <h1>{{ product['title'] }}</h1>
        </div>
        <noscript>
            <div class="js-error js-error-h30">
                Please enable JavaScript in your browser to fully experience this site and to add products to your bag.
            </div>
        </noscript>
        <div id="product_add_bag">
                <div class="price fl">
                <!--  @todo Add support for displaying a product that is not for sale -->
                    <span class="b fl">Price:&nbsp;&nbsp;</span>
                    <span class="price_amount b fl">${{ product['price'] }}</span>
                </div>
                <script>
                    document.write('<div id="product_1" class="btn_product_add_bag btn fl curHand">add to bag</div>');
                </script>
                <div class="clr"></div>
                {% if product['personalize'] %}
                    <span class="trajan fg_color_pri font_14px b">PERSONALIZE THIS GAME!</span>&nbsp;&nbsp;
                    <a href="" id="linkFindOutHow" class="font_11px u curHand">Find out how.</a>
                {% endif %}
        </div>
        <div class="sub_heading b">
            Game Description
        </div>
        <p>{{ product['description'] }}</p>

        {% if product['timeToPlay'] or product['players'] or product['winners'] %}
            <div class="specifications">
                {% if product['timeToPlay'] %}
                    <div class="fl spec">
                        <div class="img_product_time fl"></div>
                        <div class="fg_color_faded b fl text"> Time: </div><div class="fl text">{{ product['timeToPlay'] }}</div>
                    </div>
                {% endif %}
                {% if product['players'] %}
                    <div class="fl spec">
                        <div class="img_product_players fl"></div>
                        <div class="fg_color_faded b fl text"> Players: </div><div class="fl text">{{ product['players'] }}</div>
                    </div>
                {% endif %}
                {% if product['winners'] %}
                    <div class="fl spec">
                        <div class="img_product_winners fl"></div>
                        <div class="fg_color_faded b fl text"> Winners: </div><div class="fl text">{{ product['winners'] }}</div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="clr"></div>
    <div id="tabs">
        <div class="tabber">
            <div class="tabbertab  " title="" id="reviews">
                <br>
                <h3>Customer Reviews</h3>
                <noscript>
                    <div class="js-error nomar">
                        Please enable JavaScript in your browser to see or add a review.
                    </div>
                </noscript>
                {# Review bundle #}
                <script>
                    $(document).ready(function() {
                        $('#item_reviews').show();
                    });
                </script>
            </div>
            <?php if ($product['rulesOfPlay']) : ?>
                <div class="tabbertab tabbertabhide" title="" id="rules">
                    <br>
                    <h3>Rules of Play</h3>
                    <p>
                        {{ product['rulesOfPlay'] }}
                    </p>
                </div>
            <?php endif; ?>
            <div class="tabbertab tabbertabhide" id="whats_inc" title="">
                <br>
                <h3>What's Included When You Order</h3>
                <p>
                    {{ product['whatsIncluded'] }}
                </p>
            </div>
        </div>
    </div>
    <div class="clr"></div>
</div>
{% endblock %}
