{% block footer %}
	<div class="clr"></div>
    <form id="footer" name="footer">
    	<div class="links">
        	<div class="first section">
            	<h4>Community</h4>
                <a href="http://funsational.com/?page_id=98">Blog</a>
                <br />
                <a href="http://www.facebook.com/funsational">Facebook</a>
                <br />
                <a href= "http://www.twitter.com/funsational">Twitter</a>
                <br />
            </div>
            <div class="section">
            	<h4>Customer Service</h4>
                <a href= "/staticPages/customerService#guarantee">Guarantee</a>
                <br />
                <a href= "/staticPages/customerService#personalized"> Personalization</a>
                <br />
                <a href= "/staticPages/customerService#shipping"> No Shipping Policy</a>
                <br />
                <a href= "/staticPages/contactUs">Contact Us</a>
                <br />
            </div>
            <div class="section">
            	<h4>About Us</h4>
                <a href= "/staticPages/aboutUs">Company Info</a>
                <br />
                <a href= "/staticPages/quotes">Customer Comments</a>
                <br />
                <a href= "http://www.printablegamesatoz.com/affiliates.html">Affiliates</a>
                <br />
            </div>
            <div class="last section clrr">
            	<h4>Safe &amp; Secure Shopping</h4>
            	<a href= "/staticPages/terms">Terms of Use</a>
                <br />
                <a href= "/staticPages/privacy">Privacy Policy</a>
                <br />
                <a href= "/staticPages/privacy#security">Security Policy</a>
                <br />
            </div>
        </div>
        <div class="brands">
        	<div class="title">Funsational, Inc Party &amp; Celebrations Portfolio</div>
            <div class="logo">
            	<a href="http://www.printablegamesatoz.com" class="printablegames"> </a>
            </div>
            <div class="logo">
            	<a href="http://www.funsationalshoppe.com" class="funsational"> </a>
            </div> <div class="logo">
            	<a href="http://www.instantweddingtoasts.com" class="instantweddingtoasts"> </a>
            </div>
        </div>
        <b class="copyright">Copyright &copy; 2010 Funsational, Inc. All Rights Reserved</b></form>
{% endblock %}
