<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Printable Games | Symfony{% endblock %}</title>
        <link href="{{ asset('bundles/jontest/css/clear.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/jontest/css/global.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/jontest/css/header.css') }}" rel="stylesheet" type="text/css" />
        {% block css %}{% endblock %}
        <link href="{{ asset('bundles/jontest/css/leftnav.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/jontest/css/products.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/jontest/css/footer.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
